---
import MainLayout from '../layouts/MainLayout.astro'
import Navbar from '../components/Navbar.astro'
import HeroShowreel from '../components/HeroShowreel.astro'
import ProjectCard from '../components/ProjectCard.astro'
import { projects } from '../data/projects.js'
import About from '../components/About.astro'
---

<MainLayout title="Tech Art Portfolio">
<Navbar />

<main>
<HeroShowreel youtubeID="rKjCsFPCCwk" />



<section id="projects" class="projects grid">

{projects.map(p => (
<ProjectCard image={p.image} title={p.title} link={`/projects/${p.slug}`} />
))}

</section>

<About />

</main>

</MainLayout>

<style>

.projects{
  margin-left:10vw;
  margin-right:10vw;
  max-width: 1800px;
  gap: 0;
  justify-content: center;  /* 整個 grid 居中 */
  margin-left: auto;
  margin-right: auto;       /* 這兩行配合 justify-content: center 可以居中 */
}

.grid{
display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

}




</style>

