---
import { projects } from "../data/projects.js";
---

<nav class="navbar">
  <div class="logo">
    <a href="/">Home</a>
  </div>

  <div class="nav-links">
    <div class="dropdown">
      <span>WORK ▼</span>
      <div class="dropdown-content">
        {projects.map(p => (
          <a href={`/projects/${p.slug}`}>{p.title}</a>
        ))}
      </div>
    </div>

    <a href="#about">About</a>
    
  </div>
</nav>

<style>
.navbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1rem 4vw;
  font-family:Arial,sans-serif;
  font-weight:300;
  color:white;
  background:#0d0d0d;
}

.nav-links {
  display:flex;
  gap:2rem;
  align-items:center;
}

.navbar a, .dropdown > span {
  color:rgb(156, 156, 156);
  text-decoration:none;
  cursor:pointer;
  opacity:0.8;
  transition:opacity 0.2s;
}

.navbar a:hover, .dropdown:hover > span {
  opacity:1;
}

/* Dropdown */
.dropdown {
  position:relative;
}

.dropdown-content {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#111;
  min-width:180px;
  box-shadow:0 4px 10px rgba(0,0,0,0.5);
  z-index:100;
  flex-direction:column;
}

.dropdown-content a {
  padding:0.5rem 1rem;
  display:block;
  opacity:0.8;
  color:rgb(185, 185, 185);
}

.dropdown-content a:hover {
  background:#222;
  opacity:1;
}

.dropdown:hover .dropdown-content {
  display:flex;
  flex-direction:column;
}
</style>