---
const { image, title, link } = Astro.props;
---

<a href={link} class="card">
  <img src={image} alt={title} />
  <div class="content">
    <div class="title">{title}</div>
  </div>
</a>

<style>
.card{
  position:relative;       /* 讓 overlay 定位 */
  display:block;
  aspect-ratio:1/1;        /* 保持正方形 */
  overflow:hidden;
  background:#111;
}

.card:hover {
  border:1px solid #666;
}

.card img {
  width:100%;
  height:100%;
  object-fit:cover;        /* 圖片填滿 */
  display:block;
}

.content{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;

  padding:0.8rem;
  box-sizing:border-box;

 
}

.title {
  color:rgb(187, 187, 187);
  font-weight:600;
  opacity:50;
}
/* 灰色 overlay */
.card::after{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(120,120,120,0.3); /* 30% gray */
  opacity:0;
  transition:opacity 0.2s;
}

/* hover 時出現 */
.card:hover::after{
  opacity:1;
}
/* 灰色 overlay */

</style>