---
import MainLayout from '../../layouts/MainLayout.astro'
import Navbar from '../../components/Navbar.astro'
---

<MainLayout title="Procedural FX Tool">

<Navbar />

<main>

<h1>Procedural FX Tool</h1>

<p>

Procedural VFX tool built using Unreal Engine Niagara.

The system allows artists to generate variations of effects
through exposed parameters and runtime controls.

</p>

<img src="/assets/artwork1.jpg" />

<h2>Tech Used</h2>

<ul>

<li>Unreal Engine</li>
<li>Niagara</li>
<li>Material Shader</li>
<li>Procedural generation</li>

</ul>

</main>

</MainLayout>

<style>

img{
width:100%;
margin-top:2rem;
border-radius:10px;
}

</style>